<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="output">
    <table>
        <tr>
            <th>Название книги</th>
            <th><input id="title_name" type="text" size="40"></th>
        </tr>
        <tr>
            <th>Имя автора</th>
            <th><input id="author_firstname" type="text" size="40"></th>
        </tr>
        <tr>
            <th>Фамилия автора</th>
            <th><input id="author_lastname" type="text" size="40"></th>
        </tr>
        <tr>
            <th></th>
            <th><button onclick="Add_But()">Добавить книгу</button></th>
        </tr>
    </table>
</div>

</body>
</html>
<script src="home.js"></script>